#f_card{
  display: flex;
  flex-direction: column;
  width: 370px;
  padding-top: 5%;
}
#card_cont{
  padding-top: 10px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #303030;
  color: white;
  border-radius: 0 0 5% 5%;
}
#know_card{
  width:40%;
  margin-left: 30%;
  margin-right: 30%;
  background-color: #f5b301;
  margin-bottom: -15px;
  border-radius: 10%;
  height: 40px;
  border: none;
  cursor: pointer;
}

#card_main, #card_head{
  text-align: center;
}
#card_img img{
  /* object-fit: cover; */
  max-width: 100%;
  width: 100%;
  height: 180px;
  border-radius: 5% 5% 0 0 ;
}
#card_head h4{
  color: white;
}

.tittle {
text-align: center;
display: inline-block;
width: 100%;
position: relative;
margin-bottom: 20px;
margin-top: 30px;
}
.tittle h2 {
font-family: "Lora", serif;
margin: 0px;
font-weight: 200;
line-height: 37px;
color: #222222;
margin-top: 5px;
margin-bottom: 10px;
}
.tittle h2 span {
font-weight: bold;
}
.tittle p {
width: 75%;
margin: 0 auto;
line-height: 24px;
font-size: 16px;
}
.underline {
/* background: url(../Events_image/404-clock.png) center 20px no-repeat; */
padding-bottom: 10px;
}

.Init_cards{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}
.Init_sub-banner {
/* background: url(../Events_image/2.jpg) center center no-repeat; */
background-size: cover;
margin-top: -5px;
text-align: center;
}
.Init_sub-banner .Init_overlay {
background: rgba(54, 54, 54, 0.8);
padding: 120px 0;
padding-bottom: 0px;
min-height: 280px;
}
.Init_sub-banner h2 {
color: #fff;
font-weight: bold;
text-transform: uppercase;
margin: 0px;
}
.Init_sub-banner h2 span {
color: #ecc731;
}
.Init_sub-banner .Init_breadcrumb{
background: none;
}
.Init_sub-banner .Init_breadcrumb li {
list-style: none;
text-transform: uppercase;
color: #aaaaaa;
font-size: 18px;
font-weight: bold;
}
.Init_sub-banner .Init_breadcrumb li a {
color: #aaaaaa;
font-size: 12px;
font-weight: bold;
}