.how-can-help {
    background: #fff;
    padding: 100px 0;
    padding-bottom: 0px;
  }
  /* .how-can-help {
    position: relative;
  }
   */
  .how-can-help ul {
    margin-bottom: 0px;
    list-style-type: none;
  }
  .how-can-help .big-text {
    font-size: 55px;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    line-height: 40px;
  }
  .how-can-help hr {
    margin-bottom: 50px;
    color: #EAAA00;
    width: 30%;
    height: 6px;
  }
  .how-can-help .btn {
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 40px;
    line-height: 40px;
    background-color: black;
    color: blanchedalmond;
    width: 150px;
  }
  /* .how-can-help .btn i {
    background: #303030;
    color: #fff;
    float: right;
    display: inline-block;
    margin-left: 30px;
    height: 40px;
    width: 40px;
    font-size: 20px;
    margin-top: -1px;
    margin-right: -1px;
    line-height: 40px;
  } */
  .how-can-help .big-text small {
    width: 100%;
    font-weight: normal;
    display: inline-block;
    font-size: 40px;
  }
  .how-can-help .help-fea:before {
    content: "";
  }
  .how-can-help .help-fea li {
    padding: 15px 0;
    display: inline-block;
    width: 100%;
    font-size: 16px;
  }
  .how-can-help .help-fea li img {
    margin-right: 10px;
  }
  .help-fea {
    padding-top: 150px;
    padding-left: 50px;
  }
  .help-fea:before {
    background: rgba(255, 205, 0, 0.1);
    content: "";
    position: absolute;
    width: 575px;
    height: 352px;
    left: 20px;
    right: 0px;
    margin: 0 auto;
    top: 120px;
  }
  
  .program{
      background-color: #FBDB65;
      height: 400px;
      text-align: center;
      border-radius: 10px;
  }
  .inner{
      padding-top: 30px;
  }